
# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
*terraform
 Local .terraform directories
 .terraform/providers/
 .terraform/modules/
 Crash log files
crash.log
               
 *.terraform-provider-aws_v6.12.0_x5
